function Asteroid.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push constant 10
    call Array.new 1
    pop this 1
    push constant 0
    pop this 0
    push pointer 0
    return
function Asteroid.addAsteroid 0
    push argument 0
    pop pointer 0
    push this 0
    push this 1
    add
    push argument 1
    push argument 2
    push argument 3
    call SingleAsteroid.new 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 0
    push constant 1
    add
    pop this 0
    push constant 0
    return
function Asteroid.drawAll 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Asteroid_0
    push local 0
    push constant 10
    lt
    not
    if-goto Asteroid_1
    push local 0
    push this 1
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    push local 1
    call SingleAsteroid.getX 1
    push local 1
    call SingleAsteroid.getY 1
    call SingleAsteroid.draw 3
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Asteroid_0
label Asteroid_1
    push constant 0
    return
function Asteroid.moveAll 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Asteroid_2
    push local 0
    push this 0
    lt
    not
    if-goto Asteroid_3
    push local 0
    push this 1
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    call SingleAsteroid.isAsteroidOffScreen 1
    not
    if-goto Asteroid_5
    push local 1
    push local 1
    call SingleAsteroid.getX 1
    push local 1
    call SingleAsteroid.getY 1
    call SingleAsteroid.erase 3
    pop temp 0
    push local 1
    call SingleAsteroid.destroy 1
    pop temp 0
    push local 1
    call Memory.deAlloc 1
    pop temp 0
    push local 0
    push this 1
    add
    push this 0
    push constant 1
    sub
    push this 1
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 0
    push constant 1
    sub
    push this 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 0
    push constant 1
    sub
    pop this 0
    push local 0
    push constant 1
    sub
    pop local 0
    goto Asteroid_4
label Asteroid_5
    push local 1
    push local 1
    call SingleAsteroid.getX 1
    push local 1
    call SingleAsteroid.getY 1
    call SingleAsteroid.erase 3
    pop temp 0
    push local 1
    call SingleAsteroid.getMoveUp 1
    not
    if-goto Asteroid_7
    push local 1
    push local 1
    call SingleAsteroid.getY 1
    push constant 1
    sub
    call SingleAsteroid.setY 2
    pop temp 0
    goto Asteroid_6
label Asteroid_7
    push local 1
    push local 1
    call SingleAsteroid.getY 1
    push constant 1
    add
    call SingleAsteroid.setY 2
    pop temp 0
label Asteroid_6
    push local 1
    push local 1
    call SingleAsteroid.getX 1
    push local 1
    call SingleAsteroid.getY 1
    call SingleAsteroid.draw 3
    pop temp 0
label Asteroid_4
    push local 0
    push constant 1
    add
    pop local 0
    goto Asteroid_2
label Asteroid_3
    push constant 2
    call Sys.wait 1
    pop temp 0
    push constant 0
    return
function Asteroid.checkCollision 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Asteroid_8
    push local 0
    push this 0
    lt
    not
    if-goto Asteroid_9
    push local 0
    push this 1
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    call SingleAsteroid.getIsAlive 1
    push local 1
    push argument 1
    push argument 2
    call SingleAsteroid.isHit 3
    and
    not
    if-goto Asteroid_11
    push constant 1
    neg
    return
    goto Asteroid_10
label Asteroid_11
label Asteroid_10
    push local 0
    push constant 1
    add
    pop local 0
    goto Asteroid_8
label Asteroid_9
    push constant 0
    return
function Asteroid.checkHit 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Asteroid_12
    push local 0
    push constant 2
    lt
    not
    if-goto Asteroid_13
    push local 0
    push this 1
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    call SingleAsteroid.getIsAlive 1
    push local 1
    push argument 1
    push argument 2
    call SingleAsteroid.isHit 3
    and
    not
    if-goto Asteroid_15
    push local 1
    push local 1
    call SingleAsteroid.getX 1
    push local 1
    call SingleAsteroid.getY 1
    call SingleAsteroid.erase 3
    pop temp 0
    push local 1
    call SingleAsteroid.destroy 1
    pop temp 0
    push local 1
    call Memory.deAlloc 1
    pop temp 0
    push local 0
    push this 1
    add
    push this 0
    push constant 1
    sub
    push this 1
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 0
    push constant 1
    sub
    push this 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 0
    push constant 1
    sub
    pop this 0
    push local 0
    push constant 1
    sub
    pop local 0
    goto Asteroid_14
label Asteroid_15
label Asteroid_14
    push local 0
    push constant 1
    add
    pop local 0
    goto Asteroid_12
label Asteroid_13
    push constant 0
    return